<%= @study.study_record %>
  <%= form_tag("/studies/#{@study.id}", method: :patch) do %>
    <textarea name="study_record" placeholder="study_record" rows="10" cols="30"><%= @study.study_record %></textarea>
    <input type="submit" value="編集を保存">
    <%= link_to '削除', "/studies/#{@study.id}", method: :delete %>
  <% end %>
</div>
